@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.no-print {
  margin: 250px;
  font-size: 60px;
  text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}